<!DOCTYPE html>
<html lang="de">


<head>
	<title>Bootstrap Website Vural</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<meta name="description" content="Shop">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="css/style_bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
	<div id="app">
		<!-- Logo NAVBAR-->
		<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
			<div class="container">
				<a class="navbar-brand" href="Index.html"><i class="fab fa-vuejs"></i> LOGO</a>

				<!-- Toggler Collapse-->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Links -->
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link active" href="Index.html"><i class="fas fa-home"></i> HOME</a>
						</li>

						<!-- Dropdown-menu-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbardropdown" data-toggle="dropdown"> CONTACT</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#staff">Kontakt Max Mustermann</a>
								<a class="dropdown-item" href="staff">Kontakt Maria Musterfrau</a>
								<a class="dropdown-item" href="staff">Kontakt Jonathan Doeinger</a>
								<a class="dropdown-item" href="staff">Kontakt Ömer Vural</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="About.html">ABOUT US</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" class="cart"><i class="fas fa-shopping-cart"></i> SHOP</a>
						</li>
						<div id="cart">
							<li class="nav-item">
								<a class="nav-link" href="Warenkorb.html" cart="cart"><i class="fas fa-shopping-basket"></i> Warenkorb({{cart}})</a>
							</li>
						</div>
						<!-- dropdown-->
					</ul>
				</div>
			</div>
		</nav>

		<!--page header-->
		<header id="page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-6 m-auto text-center">
						<h1>UNSER SHOP</h1>
						<p>Hier finden Sie das gesamte Angebot, welches unser Service bietet.</p>
					</div>
				</div>
			</div>
		</header>

		<!-- Service cards -->
		<section id="services" class="py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card text-center">
							<div class="card-header bg-dark text-white">
								<h3>Angebot 1</h3>
							</div>
							<div class="card-body" id="angebot1">
								<h4 class="card-title">€19.99/Monat</h4>
								<p class="card-text">Mitgliedschaft Normal</p>
								<ul class="list-group">
									<li class="list-group-item">
										<i class="fas fa-check"></i> Essen
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Trinken
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Training
									</li>
									<li class="list-group-item">
										<i class="fas fa-times"></i> Sauna
									</li>
									<li class="list-group-item">
										<i class="fas fa-times"></i> Spa
									</li>
								</ul>
								<button class="btn btn-warning btn-block mt-2 text-dark" v-on:click="addToCart">Zum Warenkorb</button>
								<a href="Kreditrechner.html" class="btn btn-info btn-block mt-2 text-dark">zum Kreditrechner</a>
							</div>
							<div class="card-footer text-muted">Monatliche Mitgliedschaft</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card text-center">
							<div class="card-header bg-dark text-white">
								<h3>Angebot 2</h3>
							</div>
							<div class="card-body">
								<h4 class="card-title">€29.99/Monat</h4>
								<p class="card-text">Mitgliedschaft-Premium</p>
								<ul class="list-group">
									<li class="list-group-item">
										<i class="fas fa-check"></i> Essen
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Trinken
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Training
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Sauna
									</li>
									<li class="list-group-item">
										<i class="fas fa-times"></i> Spa
									</li>
								</ul>
								<button class="btn btn-warning btn-block mt-2 text-dark" v-on:click="addToCart">Zum Warenkorb</button>
								<a href="Kreditrechner.html" class="btn btn-info btn-block mt-2 text-dark">zum Kreditrechner</a>
							</div>
							<div class="card-footer text-muted">Monatliche Premium-Mitgliedschaft</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card text-center">
							<div class="card-header bg-dark text-white">
								<h3>Angebot 3</h3>
							</div>
							<div class="card-body">
								<h4 class="card-title">€279.99/Jahr</h4>
								<p class="card-text">Jahresmitgliedschaft</p>
								<ul class="list-group">
									<li class="list-group-item">
										<i class="fas fa-check"></i> Essen
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Trinken
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Training
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Sauna
									</li>
									<li class="list-group-item">
										<i class="fas fa-check"></i> Spa
									</li>
								</ul>
								<button class="btn btn-warning btn-block mt-2 text-dark" v-on:click="addToCart">Zum Warenkorb</button>
								<a href="Kreditrechner.html" class="btn btn-info btn-block mt-2 text-dark">zum Kreditrechner</a>
							</div>
							<div class="card-footer text-muted">Jahresmitgliedschaft Preisangebot</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- footer-->

		<footer id="main-footer" class="text-center p-3">
			<div class="container">
				<div class="row footer-spacing">
					<div class="col footer-spacing">
						<h4>Follow us</h4>
						<a href="https://www.facebook.com/"><i class="fab fa-facebook ml-3 mr-3" style="color:4169e1"></i></a> <a href="https://twitter.com/"><i class="fab fa-twitter ml-3 mr-3" style="color:skyblue"></a></i> <a href="https://www.instagram.com/"><i
								class="fab fa-instagram ml-3 mr-3" style="color:#c13584"></i></a>
						<h2 id="footer-logo">&copy Copyright <span id="year"><i class="fab fa-vuejs" style="color:white;"></i>LOGO</span></h2>
					</div>
				</div>
		</footer>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="js/vue.js"></script>
</body>

</html>
