body {
  overflow-x: hidden;
  margin-top: 50px;
}

nav {
  height: 50px;
  letter-spacing: 2px;
}

.nav-item {
  float: center;
}

.carousel-item {
  height: 600px;
  width: 100%;
}

.carousel-image-1 {
  background-size: cover;
}

.carousel-image-2 {
  background-size: cover;
}

.carousel-image-3 {
  background-size: cover;
}

#facilities {
  margin: 10px;
  padding: 50px;
  text-align: center;
  margin-top: 50px;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
  margin-bottom: 30px;
  margin-top: 50px;
}

/*jumbotron
.jumbotron{
  height: 800px;
}
*/
/* staff and about us */
#staff img {
  margin-top: -40px;
}

#staff .card:hover {
  background: #000;
  color: #fff;
}

#staff .fab {
  color: #fff;
}

.info-header {
  margin-top: -50px;
  margin-bottom: 70px;
}

/* button für about us*/
#erfahrenSie {
  display: inline-block;
  border-radius: 4px;
  background-color: #7ecd60;
  display: inline-block;
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#erfahrenSie span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#erfahrenSie span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#erfahrenSie:hover span {
  padding-right: 25px;
}

#erfahrenSie:hover span:after {
  opacity: 1;
  right: 0;
}

.col-md-12 {
  margin-top: 50px;
}

/*staff and about us*/
.title {
  text-align: center;
  padding: 25px 0px;
}

.title p {
  font-size: 18px;
}

.card-body {
  box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.2);
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-body a {
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover {
  color: #63a6b0;
  text-decoration: none;
}

#main-footer {
  background-color: #000;
  color: #fff;
  margin-top: 50px;
}

/* shop css*/
#page-header {
  height: 200px;
  background: url('../img/bike.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header1 {
  height: 200px;
  background: url('../img/tower.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header2 {
  height: 200px;
  background: url('../img/sparen.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header3 {
  height: 200px;
  background: url('../img/register.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#payment {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin: 50px;
  padding: 50px;
  font-weight: 600;
  padding: auto;
}

#credit {

  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin: 150px;
  margin-top:50px;
  margin-bottom: 50px;
  padding: 10px;
  font-weight: 600;
  padding: auto;
}

#footer-logo {
  font-size: 20px;
}

.fab.fa.facebook {
  margin: 5px;
}

#icon {
  width: 30px;
  cursor: pointer;
}

#register {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin: 100;
  padding: 50px;
  font-weight: 600;
  padding: auto;
}

.formClass {
  width: 550px;
  padding: 40px 20px;
}

#fixed {
  background-image: url("../img/bike.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 50px;
  margin-bottom: 100px;
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.footer-spacing {
  letter-spacing: 2px;
}

#output {
  border: 2px solid skyblue;
  border-radius: 4px;
  background-color: #f0ffff;
}

#bg {
  height: 100%;
  width: 100%;
  background-color: #d6e0ff;
  clip-path: polygon(77% 0, 100% 0, 100% 27%, 24% 100%, 0 100%, 0 70%);
  position: absolute;
}
