body {
  overflow-x: hidden;
}

.nav-item {
  float: center;
}

.carousel-item {
  height: 650px;
}

.carousel-image-1 img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#about {
  margin: 10px;
  padding: 50px;
}

.staff {
  margin: 50px;
  padding: 50px;
}

#facilities {
  background-color: #dbe5e6;
  padding: 30px 0px;
  text-align: center;
}

#facilities h1 {
  font-weight: 900;
  font-size: 34px;
  padding-bottom: 5px;

}

.title {
  text-align: center;
  padding: 25px 0px;
}

.title p {
  font-size: 18px;
}

.card-body {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.card-body a {
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover {
  color: #63a6b0;
  text-decoration: none;
}

#main-footer {
  background-color: #000;
  color: #fff;
}

/* shop css*/
#page-header {
  height: 200px;
  background: url('../img/bike.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header1 {
  height: 200px;
  background: url('../img/tower.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#page-header2 {
  height: 200px;
  background: url('../img/sparen.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#payment {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin: 50px;
  padding: 50px;
  font-weight: 600;
  padding: auto;
}

#credit {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin: 40px;
  padding: 10px;
  font-weight: 600;
  padding: auto;
}

#footer-logo {
  font-size: 20px;
}

.fab.fa.facebook {
  margin: 5px;
}
